<div class="footer-social-media">
  <a
    href="https://www.instagram.com/kartarbanjarr?utm_source=ig_web_button_share_sheet&igsh=dzA2aGwwMjdtYzZj"
    target="_blank"
    aria-label="Instagram"
    ><i class="fab fa-instagram"></i
  ></a>
  <a
    href="https://www.tiktok.com/@kartar.dusunbanjarsari?is_from_webapp=1&sender_device=pc"
    target="_blank"
    aria-label="TikTok"
    ><i class="fab fa-tiktok"></i
  ></a>
  <a
    href="https://www.youtube.com/@KarangTarunaBanjarsari-p6z"
    target="_blank"
    aria-label="YouTube"
    ><i class="fab fa-youtube"></i
  ></a>
</div>
<p>&copy; 2025 Karang Taruna Banjarsari. All Rights Reserved.</p>
